main {
  .content-container {
    @include container-center($content-container);
    color: #555;
    .painter-pack {
      @include container-center($container-width);
      h2 {
        @include text-center;
        font-size: 30px;
      }
      .pack-possibilities {
        display: flex;
        justify-content: space-between;
        .card {
          width: calc(100% / 3 - 10px);
          img {
            @include img-width(100%);
          }
          .info-card {
            h4 {
              font-size: 20px;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
    .painter-bundles {
      @include container-center($container-width);
      .info-bundles {
        display: flex;
        flex-wrap: wrap;
      }
      .card {
        width: calc(100% / 2);
        display: flex;
        height: 320px;
        .info-card {
          padding: 60px 60px 90px 30px;
        }
        img {
          @include img-width(100%);
        }
        .change-width {
          @include img-width(85%);
        }
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .info-panel {
      @include container-center($container-width);
      display: flex;
      .container-links {
        width: calc(100% / 4);
        h5 {
          font-size: 18px;
        }
        ul {
          li {
            font-size: 14px;
            padding-top: 10px;
            a {
              color: #555;
            }
          }
        }
      }
    }
    .social-links {
      @include container-center($container-width);
      .container-social {
        width: 95%;
        display: flex;
        justify-content: flex-end;
        a {
          font-size: 35px;
          padding-left: 10px;
        }
      }
    }
  }
}
