nav {
  display: flex;
  align-items: flex-end;
  width: 100%;
  color: $primary-color;
  img {
    width: 10%;
  }
  ul {
    display: flex;
    li {
      padding-left: 40px;
      font-size: 14px;
      i {
        color: $secondary-color;
        padding-left: 3px;
        font-size: 10px;
      }
    }
  }
}
