* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

div.container {
  @include container-center($container-width);
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  text-transform: uppercase;
}
